n8n/workflows/email_sender.json
{
  "name": "HR Module 3 - Email Sender",
  "nodes": [
    {
      "parameters": {},
      "id": "e4f5a342-990a-4fb4-bf43-982898e6ff02",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        200,
        280
      ]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ Number($json.score) }}",
              "operation": "largerEqual",
              "value2": 65
            }
          ]
        }
      },
      "id": "ef82a7f5-a22a-4467-bc1a-555566667778",
      "name": "Is Shortlisted?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        420,
        280
      ]
    },
    {
      "parameters": {
        "sendTo": "={{ $json.email }}",
        "subject": "=Congratulations! Interview Invitation for {{ $json.job_role }}",
        "html": "=<h3>Hi {{ $json.name }},</h3><p>Thank you for applying for the <strong>{{ $json.job_role }}</strong> position. We reviewed your resume and are excited to invite you to the next round of interviews!</p><p>Our AI screener rated your resume at <strong>{{ $json.score }}/100</strong>, matching the key skills required.</p><p>Your interview has been automatically scheduled for 30 minutes. Details are in the calendar invitation sent to your email.</p><p><strong>Google Meet Link:</strong> <a href=\"{{ $json.meet_link }}\">{{ $json.meet_link }}</a></p><p>We look forward to speaking with you!</p><br><p>Best regards,</p><p>HR Recruitment Team</p>",
        "options": {}
      },
      "id": "22bc968c-db51-4043-9828-98e6ff052cf2",
      "name": "Send Shortlist Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [
        680,
        180
      ]
    },
    {
      "parameters": {
        "sendTo": "={{ $json.email }}",
        "subject": "=Application Update: {{ $json.job_role }}",
        "html": "=<h3>Hi {{ $json.name }},</h3><p>Thank you for your interest in the <strong>{{ $json.job_role }}</strong> position at our company. We appreciate you taking the time to apply.</p><p>After careful evaluation of your resume, we regret to inform you that we will not be moving forward with your application at this time. Our team received a high volume of candidates and we have selected applicants who more closely fit our current requirements.</p><p>Here is some constructive feedback generated by our resume evaluation assistant:</p><blockquote><em>{{ $json.reason }}</em></blockquote><p><strong>Skills Matched:</strong> {{ JSON.parse($json.skills_matched).join(', ') || 'None identified' }}<br><strong>Suggested Skills to Acquire:</strong> {{ JSON.parse($json.missing_skills).join(', ') || 'None identified' }}</p><p>We will keep your profile in our database for future matches. We wish you all the best in your search.</p><br><p>Best regards,</p><p>HR Recruitment Team</p>",
        "options": {}
      },
      "id": "22bc968c-db51-4043-9828-98e6ff052cf3",
      "name": "Send Rejection Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [
        680,
        380
      ]
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Is Shortlisted?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Shortlisted?": {
      "main": [
        [
          {
            "node": "Send Shortlist Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Rejection Email",
            "type": "main",
            "index": 1
          }
        ]
      ]
    }
  },
  "settings": {},
  "meta": {}
}
